body{
    background-color: #f7b1e6 !important;
}

.titulo{
    margin-top: 50px;
    text-align: center;
}

.caixa{
    margin-top: 80px;
    padding: 20px;
    background-color: #f3dbed !important;
}

.texto{
    color: #fa02bc !important;
}

h3{
    color: #f813bf !important;

}

.btn{
    background-color: black !important;
    border: black !important;

}